<div class="">
    {{error}}
</div>

<form class="" action="/login_submission" method="POST">
  <label for="">Username:
    <input type="text" name="username" value="">
  </label>
  <label for="">Password:
    <input type="text" name="password" value="">
  </label>
  <input type="submit" name="" value="Submit">
</form>
