<body>
  <div class="">
    
  </div>
  <form action="/search_results" method="GET">
    <label>Search: </label><input type="text" name="search">
  </form>
  <input type="submit" name="" value="SEARCH">
</body>
